[submodule "provisioning/cookbooks/vendor-cookbooks/apache2"]
	path = provisioning/cookbooks/vendor-cookbooks/apache2
	url = git@github.com:opscode-cookbooks/apache2.git
[submodule "provisioning/cookbooks/vendor-cookbooks/php"]
	path = provisioning/cookbooks/vendor-cookbooks/php
	url = git@github.com:opscode-cookbooks/php.git
[submodule "provisioning/cookbooks/vendor-cookbooks/mysql"]
	path = provisioning/cookbooks/vendor-cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "provisioning/cookbooks/vendor-cookbooks/git"]
	path = provisioning/cookbooks/vendor-cookbooks/git
	url = git@github.com:opscode-cookbooks/git.git
[submodule "provisioning/cookbooks/vendor-cookbooks/rsync"]
	path = provisioning/cookbooks/vendor-cookbooks/rsync
	url = git@github.com:opscode-cookbooks/rsync.git
[submodule "provisioning/cookbooks/vendor-cookbooks/vim"]
	path = provisioning/cookbooks/vendor-cookbooks/vim
	url = git@github.com:opscode-cookbooks/vim.git
[submodule "provisioning/cookbooks/vendor-cookbooks/cron"]
	path = provisioning/cookbooks/vendor-cookbooks/cron
	url = git@github.com:opscode-cookbooks/cron.git
[submodule "provisioning/cookbooks/vendor-cookbooks/openssl"]
	path = provisioning/cookbooks/vendor-cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
